/.idea/
/backend/src/main/resources/static/static/js/main.0e432c61.js
/backend/src/main/resources/static/static/js/main.0e432c61.js.LICENSE.txt
/backend/src/main/resources/static/static/js/main.0e432c61.js.map
/backend/src/main/resources/static/static/js/main.5ba3740e.js
/backend/src/main/resources/static/static/js/main.5ba3740e.js.LICENSE.txt
/backend/src/main/resources/static/static/js/main.5ba3740e.js.map
/backend/src/main/resources/static/static/js/main.14d4ccad.js
/backend/src/main/resources/static/static/js/main.14d4ccad.js.LICENSE.txt
/backend/src/main/resources/static/static/js/main.14d4ccad.js.map
/backend/src/main/resources/static/static/css/main.80618cde.css
/backend/src/main/resources/static/static/css/main.80618cde.css.map
/backend/src/main/resources/static/static/css/main.deabdbe9.css
/backend/src/main/resources/static/static/css/main.deabdbe9.css.map
/backend/src/main/resources/static/static/js/main.f85a1ec6.js
/backend/src/main/resources/static/static/js/main.f85a1ec6.js.LICENSE.txt
/backend/src/main/resources/static/static/js/main.f85a1ec6.js.map
